<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountLogin</servlet-name>
        <servlet-class>controller.account.ControllerAccountLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerHome</servlet-name>
        <servlet-class>controller.common.ControllerHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCategory</servlet-name>
        <servlet-class>controller.common.ControllerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerProduct</servlet-name>
        <servlet-class>controller.common.ControllerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAccountRegister</servlet-name>
        <servlet-class>controller.account.ControllerAccountRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerSearch</servlet-name>
        <servlet-class>controller.common.ControllerSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>controller.admin.ControllerLoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopManage</servlet-name>
        <servlet-class>controller.admin.ControllerShopManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManage</servlet-name>
        <servlet-class>controller.admin.ControllerUserManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserProfile</servlet-name>
        <servlet-class>controller.admin.ControllerViewUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearch</servlet-name>
        <servlet-class>controller.admin.ControllerAdminSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Analysis</servlet-name>
        <servlet-class>controller.admin.ControllerAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings</servlet-name>
        <servlet-class>controller.admin.ControllerSettings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.admin.ControllerAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUsername</servlet-name>
        <servlet-class>controller.admin.ControllerCheckUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controllerForm</servlet-name>
        <servlet-class>controller.vendor.controllerForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerSignInShop</servlet-name>
        <servlet-class>controller.vendor.ControllerSignInShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVendorStore</servlet-name>
        <servlet-class>controller.vendor.ControllerVendorStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVendorOrder</servlet-name>
        <servlet-class>controller.vendor.ControllerVendorOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVendorOrderDetail</servlet-name>
        <servlet-class>controller.vendor.ControllerVendorOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVendorStatus</servlet-name>
        <servlet-class>controller.vendor.ControllerVendorStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVendorDeleteOrder</servlet-name>
        <servlet-class>controller.vendor.ControllerVendorDeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVendorAddProduct</servlet-name>
        <servlet-class>controller.vendor.ControllerVendorAddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVendorDeleteProduct</servlet-name>
        <servlet-class>controller.vendor.ControllerVendorDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVendorEditProduct</servlet-name>
        <servlet-class>controller.vendor.ControllerVendorEditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVendorOrderCancelled</servlet-name>
        <servlet-class>controller.vendor.ControllerVendorOrderCancelled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAddToCart</servlet-name>
        <servlet-class>controller.common.ControllerAddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerCheckOut</servlet-name>
        <servlet-class>controller.common.ControllerCheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerRemoveCart</servlet-name>
        <servlet-class>controller.common.ControllerRemoveCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerUpdateCart</servlet-name>
        <servlet-class>controller.common.ControllerUpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLogout</servlet-name>
        <servlet-class>controller.common.ControllerLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerAdminLogout</servlet-name>
        <servlet-class>controller.admin.ControllerAdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerEditProfileShop</servlet-name>
        <servlet-class>controller.vendor.ControllerEditProfileShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>controller.admin.ControllerContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFilter</servlet-name>
        <servlet-class>controller.common.ControllerSearchFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountLogin</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerHome</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCategory</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerProduct</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAccountRegister</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerSearch</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopManage</servlet-name>
        <url-pattern>/ShopManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManage</servlet-name>
        <url-pattern>/UserManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserProfile</servlet-name>
        <url-pattern>/ViewUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Analysis</servlet-name>
        <url-pattern>/Analysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/Settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUsername</servlet-name>
        <url-pattern>/CheckUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controllerForm</servlet-name>
        <url-pattern>/Form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerSignInShop</servlet-name>
        <url-pattern>/SignInShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVendorStore</servlet-name>
        <url-pattern>/VendorStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVendorOrder</servlet-name>
        <url-pattern>/VendorOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVendorOrderDetail</servlet-name>
        <url-pattern>/VendorOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVendorStatus</servlet-name>
        <url-pattern>/VendorStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVendorDeleteOrder</servlet-name>
        <url-pattern>/VendorDeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVendorAddProduct</servlet-name>
        <url-pattern>/VendorAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVendorDeleteProduct</servlet-name>
        <url-pattern>/VendorDeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVendorEditProduct</servlet-name>
        <url-pattern>/VendorEditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVendorOrderCancelled</servlet-name>
        <url-pattern>/VendorOrderCancelled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerCheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerRemoveCart</servlet-name>
        <url-pattern>/RemoveCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerUpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContrllerAccountEditImage</servlet-name>
        <servlet-class>controller.account.ContrllerAccountEditImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContrllerAccountEditImage</servlet-name>
        <url-pattern>/EditImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContrllerAccountEditOder</servlet-name>
        <servlet-class>controller.account.ContrllerAccountEditOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContrllerAccountEditOder</servlet-name>
        <url-pattern>/EditOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLogout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerAdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerEditProfileShop</servlet-name>
        <url-pattern>/EditProfileShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFilter</servlet-name>
        <url-pattern>/SearchFilter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
			300
		</session-timeout>
    </session-config>
</web-app>
